<div class="panel panel-default">
  <div class="panel-heading">DKIM</div>
  <div class="panel-body">
    <canvas id="reports-dkim" data-chart="<%=@reports[:dkim].as_json()%>"></canvas>
  </div>
</div>

<%content_for :head do -%>
<script>
jQuery(document).ready(function() {
/*var dkimChart = new Chart('dkim', {
    type: 'pie',
    data: {
      labels: ['Yes', 'No'],
      datasets: {
        data: [10, 20],
        //label: 'DKIM'
      }
    }
});*/

  var myChart = new Chart('reports-dkim', {
      type: 'pie',
      data: {
          labels: ['Yes', 'No'],
          datasets: [{
              label: 'DKIM',
              data: [10, 20],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
        title: {
          display: true,
          text: 'Signed with a DKIM signature?'
        }
      }
  });

});
</script>
<%end -%>
