<h1><%=t('.header')%></h1>
<p class="lead"><%=t('.lead')%></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%=render(:partial => 'reports_dkim')%>
    </div>
  </div>
</div>
